<h3>Add a Venue</h3>

<form action="/venues" method="post">
  <div class="form-group"
  <label for="name">Venue Name:</label>
  <input id="name" name="name" type="text">
</div>
<button type="submit">Add Venue</button>
</form>

<h3>Current Venues</h3>
<% if @venues.any?() %>
<p>Click on a venue to see what bands have played there.</p>

<ul>
  <% @venues.alphabetize().each do |venue| %>
  <li><a href="/venues/<%= venue.id() %>"><%= venue.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>No venues have been added. Click the link above to add some venues!</p>
<% end %>

<a href="/">Return to Home Page</a>
